<h1>Order #@Model["order"].Id.</h1>

<p>@Model["order"].Description</p>
<p>Last updated: @Model["order"].DateModified</p>
<p>Fill this order by: @Model["order"].DateDue</p>
<p>Notes: @Model["order"].Notes</p>
<p>Order Total: @Model["order"].GetPrice()</p>
<p>Details</p>

<p>Here's a static link to <a href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/delete'>delete this order</a></p>
<p>Here's a static link back to <a href='/vendors/@Model["vendor"].Id/'>orders list for this vendor</a></p>